header
{
    background-color: white
}
slider 
{
    width: 90%;
    height: 90%;
    background-color: transparent;
}

slider > *
{
    position: absolute;
    width: 0%;
    height: 90%;
    background-color: white;
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1)
{
    left: 0%;
    animation-delay: -2s;
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2)
{
    animation-delay: 2s;
    background-image: url(2.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3)
{
    animation-delay: 5s;
    background-image: url(3.jpg);
    background-size: cover;
    background-position: center;
    
}

slide:nth-child(4)
{
    left: 0%;
    animation-delay: 8s;
    background-image: url(4.jpg);
    background-size: cover;
    background-position: center;
}



slide p
{
    font-family: comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    color: rgb(219, 76, 76);
}

@keyframes slide 
{
    0% { left: 100%; width: 100%;}
    5% { left: 0%}
    25% { left: 0%}
    30% { left: -100%; width: 100%;}
    0% { left: 100%; width: 100%;}
    30.0001% { left: -100%; width: 0%;}
    100% { left: 100%; width: 0%;}
}



footer 
{
    background-color: chartreuse;
}









