.titulo {
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    width: 1%;
    height: 1%;
    }

.fundo {background-color: whitesmoke;
    margin-top: 1%;
    margin-left: 13%;
    margin-bottom: 1%;
    padding-top: 1%;
}    

.texto {
    margin-bottom: 10%;
    margin-top: 5%;
    color: rgb(7, 7, 7);
    width: 1%;
    height: 5%;
}

.fotos {
    width: 80%;
    height: 50%;
}

.fotos1 {
    width: 80%;
    height: 40%;
}

.fotos10 {
    width: 80%;
    height: 10%;
}