.titulo {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.h5 {
    margin-bottom: 20px;
}

.body {
    margin-left:50px;
    margin-bottom:0px;
    background-color: rgba(250, 12, 250, 0.342);
    
}

dt {
    color: red;
}

dd {
    color: blue;
}

.tags {
  border-style: groove;
  border-width: 10px;
  border-color: rgb(56, 110, 226);
  border-right: 0px;
  
 
}
