body {
    color: #000;
    font: 12px Verdana, sans-serif;
    }

    #conteudo {
		width: 70%;
		float: right;
		text-align: center;
        }
        
        #menu {
            width: 30%;
            margin: 0; padding: 0;
            float: left;
            }

            header{
                position:fixed;
                width:100%;
            }

            * {
                margin: 0;
                padding: 0;
            }

            header {
                width: 100%;
                float: left;
                height: auto;
            }
