.texto {
    color: red;
    background-color:black;
    width: 1210px;
}

.circle{
    border-radius: 60px;   
    padding: 10px;
}

.descrição{
   padding-top: 0px;
}

.videos {
    border-radius: 60px; 
}

.porto-galinha {
    padding-top: 30px;
    
}

.site {
    background-color: black;
    color: red;
    width: 200px;
    height: 100px;
}
.corpo {
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.rodapé {
    padding-top: 30px;
    background-color: gainsboro;
    color: green;
    font-family: monospace;
}