.texto {
    color: red;
    background-color:black;
    width: 1210px;
}

.circle{
    border-radius: 60px;   
}

.descrição{
   padding-top: 30px;
}

.videos {
    border-radius: 60px; 
}

.porto-galinha {
    padding-top: 30px;
    
}

.site {
    background-color: black;
    color: red;
    width: 200px;
    height: 100px;
}