div.figura {
    float: right;
    width: 35%;
    border: thin silver solid;
    margin: 0.25em;
    padding: 0.5em;
  }
  div.figura p {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
  }
  DIV.figura {
    min-width: 250px;
  }

  div.figura {
    float: right;
    width: 35%;
    border: thin silver solid;
    margin: 0.15em;
    padding: 0.5em;
  }
  div.figura p {
    text-align: center
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
  }
  img.escala {
    width: 100%;
  }