div.button--border-rotated {
    display: none;
    position: relative;
    text-align: center;
    top: -170px;
    color: rgb(1, 1, 10);
}

div.button--border-rotated:hover, img:hover + div {
    display: block;
}

.button--border-rotated {
   
    position: relative;
}

a, a:active, a:focus, a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    background-color: transparent;
}

.button--border-rotated:before {
    top: 0;
}

.button--border-rotated:after, .button--border-rotated:before {
    transition: top .3s ease-in-out;
    position: absolute;
    content: "";
    height: 2px;
    background-color: #f83707;
    width: 100%;
    left: 0;
}

.button--border-rotated:after, .button--border-rotated:hover:before {
    top: 100%;
}

.button--border-rotated:after, .button--border-rotated:before {
    transition: top .3s ease-in-out;
    position: absolute;
    content: "";
    height: 2px;
    background-color: #f83707;
    width: 100%;
    left: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

.fundo {
    background-color: rgb(198, 175, 252);
}

header {
    color: rgb(12, 12, 12);
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    text-decoration-skip-ink: ;
    display: block;
    position: relative;
    top: 0;
    background-color: transparent;
}

.footer {
    color: white;
    background-color: black;
}

