
* {
    box-sizing: border-box;
  }
  
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 2px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
    
  }
  
  .column img {
    margin-top: 5%;
    vertical-align: middle;
    width: 100%;
    height: 35%;
    padding-bottom: 0%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

  .text {
      color: white;
  }

  .text1 {
    color: white;
    margin-top: 1%;
    margin-bottom: 2%;
}

.text2 {
  color: white;
  margin-top: 1%;
  margin-bottom: 2%;
}

  .conta {
    color: orangered;
   
  }

  .click {
    color: red;
    margin-left: 0%;
    padding: 10%;
   margin-bottom: 10%;     
    }
  
    .click {
      color: red;
      margin-left: 0%;
     
    }

  .conta1 {
    color: orangered;
    padding-bottom:  100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 10%;
  }

  .click1 {
    color: red;
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 10%;
   
  }

  .container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 46.25%; /* 16:9 Aspect Ratio */
  }
  
  .responsive-iframe {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: 1%;
  }

  .cores {
      background-color: black;
      margin-top: 5%;
      margin-left: 1%;
      margin-right: 1%;
      margin-bottom: 1%;
  }

  .header {
      margin-top: 2%;
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 5%;
  }

  .nav10 {
    padding-top: 4%;
    color: cyan;
  }

  .bem {
    color: greenyellow;
    font-size: 200%;
  
  }
  
  .bemm {
    color: rgb(250, 3, 197);
    font-size: 150%;
    
  }

  .socorro1 {
    color: greenyellow;
    font-size: 180%;
  
  }
  
  .socorro {
    color: rgb(250, 3, 197);
    font-size: 500%;
    margin-top: 30%;
    
  }
  
 
  
  