body {
    background-color: #f0f0f0;

}

.form {
    width: 400px;
    margin: auto;
    padding-top: 30px;
    font-family: sans-serif;

}

.div1 {
    width: 250px;
}

.card {
    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.card-top {
    text-align: center;
}

.login {
    border-radius: 100px;
    width: 160px;
    box-shadow: 15px 8px 29px black;
}

.h2 {
    color: blue;
}

.P {
    color: rgb(253, 5, 5);
}

.login-group > label {
    color: burlywood;
    width: 100%;
    display: block;
}

.login-group > input {
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}



.login-group {
    margin-bottom: 10px;
}

.login-group > button {
    background-color: darkgreen;
    width: 400px;
    border-radius: 25px;
    background-image: linear-gradient(to right, red, green);
    color: ivory;
}

